.wrapper {
    height: 600px;
    width: 100%;
    /*background-image: url("../../assets/images/sectionOneBg.jpg") ;*/
    background-size: cover;
    background-position: center;

    position: relative;

}

.wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 2;
}

.inner {
    position: absolute;
    bottom: 50px;
    left: 220px;
    z-index: 3;
    color: var(--color-white);
}

.copy {
    font-family: Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;

    letter-spacing: 0.07em;
}

.tagline {
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 80px;

    margin-top: 20px;
    margin-bottom: 60px;
}

.pipka {
    margin-top: 60px;
}