.common {
    /*font-family: HelveticaNeueCyr;*/
    color: var(--color-gray2);
    width: 85%;
    /*width: 1215px;*/
    margin: 0 auto 100px;
    padding: 80px 0;

    position: relative;

    /*overflow: hidden;*/
    border-bottom: 2px solid #C4C4C4;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;

    margin-bottom: 80px;
}

.gridContainer {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(5, 210px);
    grid-column-gap: 41px;
    grid-row-gap: 70px;

    font-style: normal;

    z-index: 2;
}

.img {
    position: absolute;
    top: -17px;
    right: 0;

    z-index: -1;
}

.additional {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    margin-top: 30px;
}

.additional:first-of-type {
    margin-top: 60px;
}

.price {
    font-weight: 550;
    font-size: 15px;
    line-height: 15px;


    letter-spacing: 0.02em;
}
