.size {

}

.section1 {
    height: 400px;
    background-color: blueviolet;
}

.sectionAppart {
    height: 300px;
    background-color: #ebfd80;
}

.sectionHome {
    height: 300px;
    background-color: gold;
}

.sectionOffice {
    height: 300px;
    background-color: gray;
}

.another {
    height: 700px;
    background-color: salmon;
}