.common {

}

.menu {
    width: 85%;
    margin: auto;

    padding-bottom: 10px;
    border-bottom: 2px solid #C4C4C4;

    padding-top: 50px;

    position: relative;

    /*top: -80px;*/
}

.linkContainer {
    margin-left: 25px;
    margin-right: 25px;

    opacity: 0.4;
}

.linkContainer:first-of-type {
    margin-left: 0;
}

.link {
    font-family: HelveticaNeueCyr, sans-serif;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;

    text-decoration: none;

    color: var(--color-gray2);

}

.linkActive {
    opacity: 1;
}

.lamp {
    /*width: 220px;*/
    height: 5px;
    background-color: var(--color-green);

    position: absolute;
    bottom: -2px;

    transition: all .33s linear;
}



/*Для теста*/
/*.linkContainer:nth-child(2).linkActive ~ .lamp {*/
/*    background-color: var(--color-red);*/
/*    color: #03C9A9;*/
/*}*/

