.calculator {
    transform: translateY(-80px);

    padding-top: 80px;
}

.title {
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 39px;

    color: var(--color-gray2);

    padding-top: 50px;
    width: 85%;
    margin: auto;
}

.inner {
    position: relative;

    width: 85%;
    margin: 45px auto 0;
}

.imageContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.whatIncluded {
    margin-top: 10px;
}


