.wrapper {
    height: 600px;
    width: 100%;

    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
}

/*.bg:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0,0,0,0);*/
/*    z-index: 1;*/
/*}*/

.rgba02:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.2);
    z-index: 1;
}

.bg2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.inner {
    position: absolute;
    bottom: 50px;
    left: 220px;
    z-index: 3;
    color: var(--color-white);
}

.copy {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;

    letter-spacing: 0.07em;
}

.tagline {
    /*font-family: Open Sans;*/
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 75px;

    margin-top: 20px;
    margin-bottom: 50px;
}

.pipka {
    margin-top: 60px;
}