.common {
    position: relative;
}

.container {
    width: 100%;
    overflow: hidden;
}

.movingContainer {
    display: flex;
    flex-direction: column;
    height: 650px;
}

.item {
    display: flex;
    justify-content: center;

}

.item:last-of-type {
    margin-right: 0;
}

.arrowLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}

.arrowRigth {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
}

.dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 112px;
    display: flex;
    flex-direction: column;
    /*z-index: 20;*/
}

.dot {
    height: 12px;
    width: 12px;
    margin-bottom: 15px;
    background-color: var(--color-white);
    border-radius: 50%;

    cursor: pointer;
}
