.common {
    /*font-family: HelveticaNeueCyr;*/
    color: var(--color-gray2);
    width: 85%;
    /*width: 1215px;*/
    margin: 90px auto 100px;

    position: relative;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;

    margin-bottom: 80px;
}

.gridContainer {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-gap: 45px;

    margin: 0 auto;

    font-style: normal;

    z-index: 2;
}

.img {
    position: absolute;
    top: -9px;
    right: -150px;

    z-index: -1;
}
